<phpunit bootstrap="bootstrap.php" colors="true">

	<testsuite name="G2 DataMapper Sample Application Test Suite">
		<directory>./application</directory>
		<directory>./library</directory>
	</testsuite>
    
	<filter>
		<whitelist>
			<directory suffix=".php">../application/</directory>
			<exclude>
				<directory suffix=".phtml">../application/</directory>
			</exclude>
		</whitelist>
	</filter>
  
</phpunit>